:root {
  --bg-body: #f0f0f5;
  --bg-input: #fff;
  --bg-card: #fff;

  --text-body: #000;
  --text-input: #333;
  --text-muted: #737380;
  --text-muted-dark: #41414d;
  
  --theme-primary: #e02041;
  --theme-primary-reverse: #fff;
  
  --color-input: #dcdce6;
  --color-shadow: rgba(0, 0, 0, .1);
}
